{% extends "base.html" %}  
{% load static %}
{% block title %} Set New Password {% endblock %}

{% block content %}
{% include 'partials/preloader.html' %}

<!--wrapper-->
<div class="wrapper">
    <div class="section-authentication-cover">
        <div class="">
            <div class="row g-0">

                <div class="col-12 col-xl-7 col-xxl-8 auth-cover-left">
                    <div class="hero-content style1">
                        <a href="{% url 'home' %}">
                            <img class="logo-dark" src="{% static 'assets/img/logo_white.svg' %}" width="130px" alt="logo">
                        </a>
                        <h1>You are welcome to Nobleserve Finance!</h1>
                        <p>We're excited to help you secure the funds you need. <br/> To get started, please complete the sign-up process <br/> below and create your loan account.</p>
                    </div>
                </div>

                <div class="col-12 col-xl-5 col-xxl-4 auth-cover-right align-items-center justify-content-center">
                    <div class="card rounded-0 m-3 shadow-none bg-transparent mb-0" style="border:0px">
                        <div class="card-body">
                            <div class="">
                                <div class="text-left mb-4">
                                    <div class="text-left mb-4">
                                        <h4 class="">Change your Password!</h4>
                                    </div>
                                    <div class="form-body">
                                        <!-- Message div to display error messages -->
                                        <div id="message" style="text-align: center;"></div>
                                        <form id="set-new-password-form" class="row g-3">
                                            {% csrf_token %}
                                            <div class="col-12">
                                                <label for="inputNewPassword" class="form-label">New Password</label>
                                                <div class="input-group" id="show_hide_new_password">
                                                    <input type="password" name="new_password" class="form-control" id="inputNewPassword" placeholder="Enter New Password" style="height: 45px;">
                                                    <a href="javascript:;" class="input-group-text bg-transparent">
                                                        <span toggle="#inputNewPassword" class="fa fa-eye-slash field-icon toggle-password"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                                                <div class="input-group" id="show_hide_confirm_password">
                                                    <input type="password" name="confirm_password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" style="height: 45px;">
                                                    <a href="javascript:;" class="input-group-text bg-transparent">
                                                        <span toggle="#inputConfirmPassword" class="fa fa-eye-slash field-icon toggle-password"></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <button type="submit" class="btn style1" id="set-new-password-btn">
                                                        <span class="set-new-password-text">Submit</span>
                                                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end row-->
        </div>
    </div>
</div>

{% endblock content %}
